
:root {
    --colorTransparentTransparent: #ffffff00;    
    --colorBackgroundBackground: #ffffff;    
    --colorBackgroundBackgroundHover: #8b8b8b1f;    
    --colorBackgroundBackgroundActive: #8b8b8b80;    
    --colorBackgroundBackgroundSelected: #8b8b8b33;    
    --colorBackgroundBackgroundSelectedHover: #8b8b8b52;    
    --colorBackgroundBackgroundInverse: #333333;    
    --colorBackgroundBackgroundInverseHover: #515151;    
    --colorBackgroundBackgroundBrand: #97bf0d;    
    --colorLayerLayer01: #eeeeee;    
    --colorLayerLayer02: #ffffff;    
    --colorLayerLayer03: #eeeeee;    
    --colorLayerLayerHover01: #e3e3e3;    
    --colorLayerLayerHover02: #eeeeee;    
    --colorLayerLayerHover03: #e3e3e3;    
    --colorLayerLayerActive01: #d1d1d1;    
    --colorLayerLayerActive02: #d1d1d1;    
    --colorLayerLayerActive03: #d1d1d1;    
    --colorLayerLayerSelected01: #e3e3e3;    
    --colorLayerLayerSelected02: #e3e3e3;    
    --colorLayerLayerSelected03: #e0e0e0;    
    --colorLayerLayerSelectedHover01: #d1d1d1;    
    --colorLayerLayerSelectedHover02: #d1d1d1;    
    --colorLayerLayerSelectedHover03: #d1d1d1;    
    --colorLayerLayerSelectedInverse: #161616;    
    --colorLayerLayerSelectedDisabled: #8b8b8b;    
    --colorLayerAccentLayerAccent01: #eeeeee;    
    --colorLayerAccentLayerAccent02: #e3e3e3;    
    --colorLayerAccentLayerAccent03: #e3e3e3;    
    --colorLayerAccentLayerAccentHover01: #e3e3e3;    
    --colorLayerAccentLayerAccentHover02: #d1d1d1;    
    --colorLayerAccentLayerAccentHover03: #d1d1d1;    
    --colorLayerAccentLayerAccentActive01: #acacac;    
    --colorLayerAccentLayerAccentActive02: #acacac;    
    --colorLayerAccentLayerAccentActive03: #acacac;    
    --colorFieldField01: #eeeeee;    
    --colorFieldField02: #ffffff;    
    --colorFieldField03: #ffffff;    
    --colorFieldFieldHover01: #eeeeee;    
    --colorFieldFieldHover02: #eeeeee;    
    --colorFieldFieldHover03: #eeeeee;    
    --colorBorderBorderSubtle00: #e3e3e3;    
    --colorBorderBorderSubtle01: #d1d1d1;    
    --colorBorderBorderSubtle02: #e3e3e3;    
    --colorBorderBorderSubtle03: #d1d1d1;    
    --colorBorderBorderSubtleSelected01: #d1d1d1;    
    --colorBorderBorderSubtleSelected02: #d1d1d1;    
    --colorBorderBorderSubtleSelected03: #d1d1d1;    
    --colorBorderBorderStrong01: #8b8b8b;    
    --colorBorderBorderStrong02: #8b8b8b;    
    --colorBorderBorderStrong03: #8b8b8b;    
    /* Border color on $layer-01 tile ($background background) */
    --colorBorderBorderTile01: #d1d1d1;    
    /* Border color on $field-02 tile ($layer-01 background)  */
    --colorBorderBorderTile02: #acacac;    
    /* Border color on $field-03 tile ($layer-02 background)  */
    --colorBorderBorderTile03: #d1d1d1;    
    --colorBorderBorderInverse: #131313;    
    --colorBorderBorderDisabled: #d1d1d1;    
    --colorBorderBorderInteractive: #273435;    
    --colorTextTextPrimary: #333333;    
    --colorTextTextSecondary: #515151;    
    --colorTextTextPlaceholder: #acacac;    
    --colorTextTextOnColor: #ffffff;    
    --colorTextTextOnColorDisabled: #8b8b8b;    
    --colorTextTextHelper: #646464;    
    --colorTextTextError: #d62512;    
    --colorTextTextInverse: #ffffff;    
    --colorTextTextDisabled: #13131340;    
    --colorLinkLinkPrimary: #346800;    
    --colorLinkLinkPrimaryHover: #38494b;    
    --colorLinkLinkSecondary: #97bf0d;    
    --colorLinkLinkInverse: #a8c842;    
    --colorLinkLinkVisted: #8a3ffc;    
    --colorIconIconPrimary: #131313;    
    --colorIconIconSecondary: #515151;    
    --colorIconIconOnColor: #ffffff;    
    --colorIconIconOnColorDisabled: #8b8b8b;    
    --colorIconIconInteractive: #97bf0d;    
    --colorIconIconInverse: #ffffff;    
    --colorIconIconDisabled: #13131340;    
    --colorButtonButtonPrimary: #273435;    
    --colorButtonButtonPrimaryHover: #38494b;    
    --colorButtonButtonPrimaryActive: #273435;    
    --colorButtonButtonSecondary: #f7f7f7;    
    --colorButtonButtonSecondaryHover: #e3e3e3;    
    --colorButtonButtonSecondaryActive: #d1d1d1;    
    --colorButtonButtonTertiary: #273435;    
    --colorButtonButtonTertiaryHover: #d0d9d9;    
    --colorButtonButtonTertiaryActive: #b1c0c0;    
    --colorButtonButtonAccent: #97bf0d;    
    --colorButtonButtonAccentHover: #729c00;    
    --colorButtonButtonAccentActive: #5c8900;    
    --colorButtonButtonDisabled: #d1d1d1;    
    --colorSupportSupportErrorBackground: #fee9e8;    
    --colorSupportSupportError: #f1290e;    
    --colorSupportSupportSuccess: #97bf0d;    
    --colorSupportSupportSuccessBackground: #f4f7e5;    
    --colorSupportSupportWarningBackground: #fff9c2;    
    --colorSupportSupportInfoBackground: #e2f5f8;    
    --colorSupportSupportInfo: #1b87b2;    
    --colorSupportSupportUndefined: #8a3ffc;    
    --colorSupportSupportWarning: #ff7f04;    
    --colorFocusFocus: #273435;    
    --colorFocusFocusInset: #ffffff;    
    --colorFocusFocusInverse: #ffffff;    
    --colorSkeletonSkeletonElement: #d1d1d1;    
    --colorSkeletonSkeletonBackground: #eeeeee;    
    --colorMiscellaneousInteractive01: #273435;    
    --colorMiscellaneousInteractive02: #97bf0d;    
    --colorMiscellaneousHighlight: #cede94;    
    --colorMiscellaneousOverlay: #13131380;    
    --colorMiscellaneousToggleOff: #8b8b8b;    
    --colorAccessibilityWhite: #ffffff;    
    --colorAccessibilityBlack: #000000;    
    --colorFigmaVariantBorder: #9747ff;    
    --colorBaseBg: #cabfff;    
    --colorBaseText: #150080;    
    --colorBaseIcon: #150080;    
    --colorTagsTagOuterSpaceHover: #90a7a8;    
    --colorTagsTagTextGreen: #346800;    
    --colorTagsTagGreenBackground: #cede94;    
    --colorTagsTagGreenHover: #b9d267;    
    --colorTagsTagBackgroundOuterSpace: #b1c0c0;    
    --colorTagsTagTextOuterSpace: #38494b;    
}