
:root {
    --shadowShadowsElevation01: 0 1px 2px 0 rgba(39,52,53,0.3);  
    --shadowShadowsElevation012: 0 1px 3px 1px rgba(39,52,53,0.15);  
    --shadowShadowsElevation03: 0 1px 3px 0 rgba(39,52,53,0.3);  
    --shadowShadowsElevation032: 0 4px 8px 3px rgba(39,52,53,0.15);  
    --shadowShadowsElevation04: 0 2px 3px 0 rgba(39,52,53,0.3);  
    --shadowShadowsElevation042: 0 6px 10px 4px rgba(39,52,53,0.15);  
    --shadowShadowsElevation05: 0 4px 4px 0 rgba(39,52,53,0.3);  
    --shadowShadowsElevation052: 0 8px 12px 6px rgba(39,52,53,0.15);  
    --shadowShadowsMenu: 0 2px 6px 0 rgba(0,0,0,0.3);  
    --shadowBorderSubtle01InnerBorderAll: inset 0 0 0 1px rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerBorderTop: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerBorderRight: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerBorderBottom: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerBorderLeft: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopBottom: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopBottom2: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerLeftRight: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerLeftRight2: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopLeftBottom: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopLeftBottom2: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopLeftBottom3: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopRightBottom: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopRightBottom2: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopRightBottom3: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerBottomLeftRight: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerBottomLeftRight2: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerBottomLeftRight3: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopLeftRight: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopLeftRight2: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle01InnerTopLeftRight3: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerBorderAll: inset 0 0 0 1px rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerBorderTop: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerBorderRight: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerBorderBottom: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerBorderLeft: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopBottom: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopBottom2: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerLeftRight: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerLeftRight2: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopLeftBottom: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopLeftBottom2: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopLeftBottom3: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopRightBottom: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopRightBottom2: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopRightBottom3: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerBottomLeftRight: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerBottomLeftRight2: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerBottomLeftRight3: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopLeftRight: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopLeftRight2: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle02InnerTopLeftRight3: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerBorderAll: inset 0 0 0 1px rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerBorderTop: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerBorderRight: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowShadowsElevation02: 0 2px 6px 2px rgba(39,52,53,0.15);  
    --shadowShadowsElevation022: 0 2px 1px 0 rgba(39,52,53,0.3);  
    --shadowBorderSubtle03InnerBorderLeft: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerTopBottom: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerTopBottom2: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerLeftRight: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerLeftRight2: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerTopLeftBottom: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerTopLeftBottom2: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerTopLeftBottom3: inset 1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerTopRightBottom: inset 0 1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerTopRightBottom2: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerTopRightBottom3: inset -1px 0 0 0 rgba(227,227,227,1);  
    --shadowBorderSubtle03InnerBottomLeftRight: inset 1px 0 0 0 rgba(198,198,198,1);  
    --shadowBorderSubtle03InnerBottomLeftRight2: inset -1px 0 0 0 rgba(198,198,198,1);  
    --shadowBorderSubtle03InnerBottomLeftRight3: inset 0 -1px 0 0 rgba(198,198,198,1);  
    --shadowBorderSubtle03InnerTopLeftRight: inset 1px 0 0 0 rgba(198,198,198,1);  
    --shadowBorderSubtle03InnerTopLeftRight2: inset -1px 0 0 0 rgba(198,198,198,1);  
    --shadowBorderSubtle03InnerTopLeftRight3: inset 0 1px 0 0 rgba(198,198,198,1);  
    --shadowBorderStrong01InnerBorderAll: inset 0 0 0 1px rgba(139,139,139,1);  
    --shadowBorderStrong01InnerBorderTop: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerBorderRight: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerBorderBottom: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerBorderLeft: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopBottom: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopBottom2: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerLeftRight: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerLeftRight2: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopLeftBottom: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopLeftBottom2: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopLeftBottom3: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderSubtle03InnerBorderBottom: inset 0 -1px 0 0 rgba(227,227,227,1);  
    --shadowBorderStrong01InnerBottomLeftRight: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerBottomLeftRight2: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerBottomLeftRight3: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopRightBottom: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopRightBottom2: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopRightBottom3: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerBorderAll: inset 0 0 0 1px rgba(139,139,139,1);  
    --shadowBorderStrong02InnerBorderTop: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerBorderRight: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerBorderBottom: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerBorderLeft: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopLeftRight: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopLeftRight2: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong01InnerTopLeftRight3: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerLeftRight: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerLeftRight2: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopLeftBottom: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopLeftBottom2: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopLeftBottom3: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopLeftRight: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopLeftRight2: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopLeftRight3: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopBottom: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopBottom2: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopRightBottom: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopRightBottom2: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerTopRightBottom3: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerBottomLeftRight: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerBottomLeftRight2: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong02InnerBottomLeftRight3: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerBorderAll: inset 0 0 0 1px rgba(139,139,139,1);  
    --shadowBorderStrong03InnerBorderTop: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerBorderRight: inset -1px 0 0 0 rgba(141,141,141,1);  
    --shadowBorderStrong03InnerBorderBottom: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerBorderLeft: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopBottom: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopBottom2: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerLeftRight: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerLeftRight2: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopLeftBottom: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopLeftBottom2: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopLeftBottom3: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopLeftRight: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopLeftRight2: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopLeftRight3: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerBottomLeftRight: inset 1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerBottomLeftRight2: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerBottomLeftRight3: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopRightBottom: inset 0 1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopRightBottom2: inset 0 -1px 0 0 rgba(139,139,139,1);  
    --shadowBorderStrong03InnerTopRightBottom3: inset -1px 0 0 0 rgba(139,139,139,1);  
    --shadowFocusInnerBorderAll: inset 0 0 0 2px rgba(39,52,53,1);  
    --shadowFocusInverseInnerBorderAll: inset 0 0 0 2px rgba(255,255,255,1);  
    --shadowFocusInverseOuterBorderAll: 0 0 0 2px rgba(255,255,255,1);  
    --shadowBorderInteractiveInnerBorderAll: inset 0 0 0 3px rgba(39,52,53,1);  
    --shadowBorderInteractiveInnerBorderTop: inset 0 3px 0 0 rgba(39,52,53,1);  
    --shadowBorderInteractiveInnerBorderRight: inset -3px 0 0 0 rgba(39,52,53,1);  
    --shadowBorderInteractiveInnerBorderBottom: inset 0 -3px 0 0 rgba(39,52,53,1);  
    --shadowBorderInteractiveInnerBorderLeft: inset 3px 0 0 0 rgba(39,52,53,1);  
    --shadowBorderInteractiveOuterBorderAll: 0 0 0 3px rgba(39,52,53,1);  
    --shadowBorderInteractiveOuterBorderTop: 0 -3px 0 0 rgba(39,52,53,1);  
    --shadowBorderInteractiveOuterBorderRight: 3px 0 0 0 rgba(39,52,53,1);  
    --shadowBorderInteractiveOuterBorderBottom: 0 3px 0 0 rgba(39,52,53,1);  
    --shadowBorderInteractiveOuterBorderLeft: -3px 0 0 0 rgba(39,52,53,1);  
    --shadowSelectedInverseInnerBorderAll: inset 0 0 0 3px rgba(39,52,53,1);  
    --shadowSelectedInverseInnerBorderTop: inset 0 3px 0 0 rgba(39,52,53,1);  
    --shadowSelectedInverseInnerBorderRight: inset -3px 0 0 0 rgba(39,52,53,1);  
    --shadowSelectedInverseInnerBorderBottom: inset 0 -3px 0 0 rgba(39,52,53,1);  
    --shadowSelectedInverseInnerBorderLeft: inset 3px 0 0 0 rgba(39,52,53,1);  
    --shadowSelectedInverseOuterBorderAll: 0 0 0 3px rgba(39,52,53,1);  
    --shadowSelectedInverseOuterBorderTop: 0 -3px 0 0 rgba(39,52,53,1);  
    --shadowSelectedInverseOuterBorderRight: 3px 0 0 0 rgba(39,52,53,1);  
    --shadowSelectedInverseOuterBorderBottom: 0 3px 0 0 rgba(39,52,53,1);  
    --shadowSelectedInverseOuterBorderLeft: -3px 0 0 0 rgba(39,52,53,1);  
    --shadowSupportErrorInnerBorderAll: inset 0 0 0 2px rgba(241,41,14,1);  
    --shadowSupportErrorOuterBorderAll: 0 0 0 2px rgba(241,41,14,1);  
    --shadowBorderDisabledInnerTopBottom: inset 0 1px 0 0 rgba(209,209,209,1);  
    --shadowBorderDisabledInnerTopBottom2: inset 0 -1px 0 0 rgba(209,209,209,1);  
    --shadowBorderDisabledInnerTopLeftBottom: inset 0 1px 0 0 rgba(209,209,209,1);  
    --shadowBorderDisabledInnerTopLeftBottom2: inset 0 -1px 0 0 rgba(209,209,209,1);  
    --shadowBorderDisabledInnerTopLeftBottom3: inset 1px 0 0 0 rgba(209,209,209,1);  
    --shadowBorderDisabledInnerTopRightBottom: inset 0 1px 0 0 rgba(209,209,209,1);  
    --shadowBorderDisabledInnerTopRightBottom2: inset 0 -1px 0 0 rgba(209,209,209,1);  
    --shadowBorderDisabledInnerTopRightBottom3: inset -1px 0 0 0 rgba(209,209,209,1);  
}